body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "HackNerdFont", monospace;
}

@font-face {
  font-family: "Jost";
  src: url("BUILTIN_COMPONENTs/fonts/Jost/Jost-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("BUILTIN_COMPONENTs/fonts/Jost/Jost-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "HackNerdFont";
  src: url("BUILTIN_COMPONENTs/fonts/HackNerdFont/HackNerdFont-Regular.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}